---
---
  <div class="feedback-form">
      <p><i>Be the first to know when I am done building it.</i></p>
      <form
        netlify
        netlify-honeypot
        name="feedback"
        method="POST"
        action="/success"
      >
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="feedback" style="width: 80%"/>
        <!-- <label for="name">Name</label>
        <input id="name" type="text" name="name" /> -->
        <!-- <label for="email">Your Email</label> -->
        <input placeholder="Your Email" id="email" type="email" name="email" required />
        <!-- <label for="feedback">What is your feedback?</label>
        <textarea id="feedback" wrap="soft" name="feedback" required></textarea> -->
        <button type="submit">Submit</button>
      </form>
  </div>

<style>
  .feedback-form {
  margin: 40px 40px;
  min-width: 250px;
  width: 90%;
}
input,
textarea,
button {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
}

button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  width: unset;
}

.feedback-form__input-email {
  width: unset;
}
</style>
